{% extends 'base.html.twig' %}

{% form_theme form 'tailwind_2_layout.html.twig' %}

{% block title %}Admin : New Starship Part{% endblock %}

{% block body %}
    <div class="max-w-4xl mx-auto">
        <h1 class="text-4xl font-semibold mb-3 my-6 pb-4">Register a New Starship Part</h1>

        {{ form_start(form) }}
            {{ form_widget(form) }}

            <button type="submit" class="text-white bg-green-700 hover:bg-green-800 rounded-lg px-5 py-2.5 me-2 mb-2 cursor-pointer">Create and close</button>
        {{ form_end(form) }}
    </div>
{% endblock %}